body {
    font-family: sans-serif;
    background-color: lightskyblue;
    margin-top: 75px;
    border: 7px solid red;
    padding:20px;
    margin-right: 35%;
    margin-left: 35%;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


